html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color:lavender;
}
table {
   
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    text-align: center;
}
 h3{
        text-align: center;
    }

table th{
    text-align: center;
    background-color: pink;
    tab-size:full;
}
